@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


/* Global Styles */
:root {
    --accent-color: #bf3e81;
    --darkbg: #11222c;
    --main-font: 'Dela Gothic One', Impact, 'sans-serif';
    --secundary-font: 'Comfortaa', Courier;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
    font-family: var(--secundary-font);
    transition: .2s;
}

html,
body {
    background-color: var(--darkbg);
    background-image: url('../files/svg/dovahkiin.svg');
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

iframe {
    border: none;
}

a {
    text-decoration: none;
}

.title {
    font-family: var(--main-font);
    letter-spacing: 1px;
}



/* RESPONSIVE */
@media screen and (max-width: 700px) {

    html,
    body {
        background-position: -50%;
    }

    .container {
        padding: .7rem;
    }
}