.videoContainer {
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    gap: 1rem;

    background-color: black;
    border: 1px solid var(--accent-color);
    border-radius: 1rem;
    padding: 1.5rem;
}


/* EXTRAS */
.exclamations {
    min-width: 60px;
    width: 10%;
    pointer-events: none;
    position: absolute;
    bottom: -8%;
    left: -3%;
}

.crown {
    min-width: 40px;
    width: 8%;
    pointer-events: none;
    position: absolute;
    top: -8%;
    right: -1.5%;
}

.switchVods {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selectVod {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    border: 1px solid rgb(42, 42, 42);
    border-radius: 1rem;
    padding: 1rem;
}

.selectVod a {
    margin: 0;
}

.selectVod:hover {
    border-color: var(--secondary-color);
}

.filler {
    max-width: 20%;
    flex-grow: 1;
}


/* Responsive */
@media screen and (max-width: 800px) {
    .videoContainer {
        flex-direction: column;
    }

    .vodToPlayInfo {
        max-width: 100%;
    }

    .crown {
        top: -3%;
    }

    .selectVod h2 {
        font-size: larger;
    }

    .filler {
        min-width: 1rem;
    }

}