.aboutMaintainer {
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    padding: .5rem;
    text-decoration: none;
}

.pfp {
    height: 8rem;
    border-radius: .5rem;
}

.textMaintainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: scroll;
    text-decoration: none;
}


/* HOVER */
.aboutMaintainer:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 5px #ffffff32);
}

/* RESPONSIVE */
@media screen and (max-width: 700px) {
    .aboutContainer h1 {
        font-size: 2rem;
    }

    .aboutContainer p {
        font-size: 1.1rem;
    }

    .textMaintainer {
        gap: .1rem;
    }

    .textMaintainer p {
        font-size: 1rem;
    }
    .aboutMaintainer:focus {
        transform: scale(1.02);
        filter: drop-shadow(0 0 5px #ffffff32);
    }
}

@media screen and (max-width: 440px) {
    .textMaintainer h1 {
        font-size: 1.8rem;
    }
}